<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
    <h1>Prijava završnih radova </h1>
    <div id="sidebar">
        {% block sidebar %}
        <ul>
            <li><a href="/mentori">Mentori</a></li>
            <li><a href="/zavrsniradovi">Završni radovi</a></li>
            <li><a href="/studenti">Studenti</a></li>
            <li><a href="/kolegiji">Kolegiji</a></li>
        </ul>
        {% endblock %}
    </div>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>
